<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
  </head>
  <body>

  <h1> RESULTS </h1>
    <ul>
    	<% movieList.forEach(function (movie) { %>
      <li><a href="movie/<%= movie.imdbID %>"><%= movie.Title %></a></li>
           <%= movie.Year %><br>
           <%= movie.Type %><br>
      </li>

      <% }) %>
    </ul>
  </body>
</html>

