<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <h1>This is the show page!</h1>
  <%= movie.Genre %> <br>
  <%= movie.Metascore %> <br>
  <%= movie.Type %>

</body>
</html>